	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle collapsed" 
        		data-toggle="collapse" data-target="#navbar">
                <!-- aria-expanded="false"
        		aria-controls="navbar">-->
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        		</button>
        	</div>
        	<div id="navbar" class="navbar-collapse collapse">


                  
                   



	            <ul class="nav navbar-nav">
                    <li ng-class="{active: stateis('app')}">
                        <a ui-sref="app"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Inicio</a>
                    </li>
                    <li ng-class="{active: stateis('app.aboutus')}">
                        <a ui-sref="app.aboutus"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Acerca de</a>
                    </li>
	                <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                            role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Menu<span class="caret"></span>
                            <ul class="dropdown-menu">
                                <li><a href="#">Appetizers</a></li>
                                <li><a href="#">Main Courses</a></li>
                                <li><a href="#">Desserts</a></li>
                                <li><a href="#">Drinks</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Specials</li>
                                <li><a href="#">Lunch Buffet</a></li>
                                <li><a href="#">Weekend Brunch</a></li>
                            </ul>
                        </a>
                    </li>
                    o
                     <li ng-class="{active: stateis('app.menu') || stateis('app.dishdetails')}"><a ui-sref="app.menu">
                         <span class="glyphicon glyphicon-list-alt"
                         aria-hidden="true"></span> 
                         Menu</a></li>-->
                    <li ng-class="{active: stateis('app.menu')}"><a ui-sref="app.menu"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Menu</a></li>
	                <li ng-class="{active: stateis('app.contactus')}"><a ui-sref="app.contactus"><i class="fa fa-envelope-o"></i> Contacto</a></li>
	            </ul>
	            <!--<ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="modal" data-target="#loginModal">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                </ul>-->
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!loggedIn"><a ng-click="openLogin()">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                    <li ng-if="loggedIn">
                    <a>{{username}}</a>
                    </li>
                    <li ng-if="loggedIn">
                    <a ng-click="logOut()">
                    <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                    </li>
                </ul>

	            
            </div>
        </div>
    </nav>
    <!--<div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
       <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login </h4>
            </div>
            <div class="modal-body">

             <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="email">Email address</label>
                        <input type="email" class="form-control input-sm" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" class="form-control input-sm" id="password" placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-info btn-sm">Sign in</button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                </form>

            </div>
        </div>
        </div>
    </div>-->
	<header>
		<div class="jumbotron">
			<div class="container">
				<div class="row row-header">
					<div class="col-xs-12 col-sm-8">
						<h1>Destinator</h1>
	                    <p style="padding:40px;"></p>
	                    <p>Compara los puestos de trabajo ofertados para los aspirantes que han superados las pruebas selectivas para el ingreso libre en los cuerpos de <abbr title="Técnicos Auxiliares de Informática">TAI</abbr>, <abbr title="Gestión de Sistemas e Informática">GSI</abbr> y <abbr title="Superior de Sistemas y Tecnologías de la Información">STI</abbr> de la Administración del Estado.</p>
	                </div>
	                <!--<div class="col-xs-12 col-sm-4">
	                    <p style="padding:20px;"></p>
	                    <img src="img/logo.png" class="img-responsive">
                	</div>-->
                	<!--<div class="col-xs-12 col-sm-2">
	                    <p style="padding:20px;"></p>
	                    <span class="pull-right">
	                    	<button type="button" class="btn btn-warning">Reserve table</button>
	                    </span>
                	</div>-->
				</div>
			</div>
		</div>
	</header>